{
  "Debug": true,
  "EnableSyslog": false,
  "ListenAddress": ":3000",
  "MySQLTopologyUser": "orchestrator",
  "MySQLTopologyPassword": "${MYSQL_PASSWORD_ORCHESTRATOR_APP}",
  "MySQLTopologySSLSkipVerify": true,
  "MySQLTopologyUseMutualTLS": false,
  "BackendDB": "sqlite",
  "SQLite3DataFile": "/var/lib/orchestrator/orchestrator.sqlite3",
  "DetectClusterAliasQuery": "SELECT 'proyectolicitacion_cluster'",
  "DetectClusterDomainQuery": "",
  "DetectInstanceAliasQuery": "",
  "DiscoverByShowSlaveHosts": true,
  "InstancePollSeconds": 5,
  "RecoveryPollSeconds": 10,
  "RecoveryPeriodBlockSeconds": 3600,
  "InstancePollSeconds": 5,
  "ReasonableReplicationLagSeconds": 10,
  "ProblemIgnoreJitterSeconds": 0,
  "CoMastersTopologyRecovery": true,
  "MasterFailoverLostInstancesDowntimeMinutes": 0,
  "MasterFailoverDetachReplicaMasterHost": false,
  "DetachLostReplicasAfterMinutes": 10,
  "FailMasterPromotionOnLagMinutes": 0,
  "RecoveryExtensionRules": {
      "MustPromoteOtherCoMaster": true
  },
  "PostponeReplicaRecoveryOnLagMinutes": 0,
  "OSCIgnoreHostnameFilters": [],
  "GraphiteAddr": "",
  "GraphitePath": "",
  "GraphiteConvertHostnameDotsToUnderscores": true,
  "StatusEndpoint": "/api/status",
  "StatusOUtputFormat": "json",
  "BackendDBMetrics": true,
  "LeaderElection": true,
  "RaftEnabled": true,
  "RaftDataDir": "/var/lib/orchestrator",
  "RaftBind": "0.0.0.0:10008",
  "RaftAdvertise": "orchestrator:10008",
  "DefaultInstancePort": 3306,
  "PostMasterFailoverProcesses": [
    "/scripts/update_proxysql_after_failover.sh {failedHost} {successorHost}"
  ]
}